.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: min(90%, 768px);
  margin-inline: auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: rgb(20, 97, 238);
  margin-bottom: 0;
}

p {
  margin-bottom: 5rem;
}
